.tpp-table {
    user-select: none;
}

.tpp-body-row[data-selected] {
    background-color: lightblue;
}

.tpp-header-cell {
    font-weight: bold;
}

.tpp-header-cell, .tpp-body-cell {
    padding: 5px 5px 5px 0;
}
