body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-spacing: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

tr[data-selected] {
    background-color: #dcedfc !important;
}

th, td {
    padding: 5px 10px;
    white-space: nowrap;
    cursor: pointer;
}
